<h1>New Message</h1>
<form action="/new" method="POST">
  <label for="user">Name:</label><br>
  <input type="text" id="user" name="user" required><br>
  <label for="text">Message:</label><br>
  <textarea id="text" name="text" required></textarea><br>
  <button type="submit">Submit</button>
</form>
<a href="/">Back to home</a>
