<h1>Message Board</h1>
<a href="/new">New Message</a>
<ul>
  <% messages.forEach((msg, index) => { %>
    <li>
      <strong><%= msg.username %></strong> (<%= new Date(msg.timestamp).toLocaleString() %>)<br>
      <%= msg.text %><br>
      <a href="/message/<%= msg.id %>">Open</a>
    </li>
  <% }) %>
</ul>
